.default {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgba(255, 115, 0, 0.452); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    display: inline-block;
    width: 25vw;
    height: 25px;
}
.active {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgba(255, 115, 0, 0.76); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    display: inline-block;
    width: 27vw;
    height: 30px;
}

.default:hover{
    background: rgba(219, 103, 8, 0.808); 
    transition-property: background-color;
    transition-duration: 0.5s;
}

.addRes {
    color: rgb(255, 238, 0); /* цвет текста */
    user-select: none; /* убирать выделение текста */
    background: rgb(255, 115, 0); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-color: rgb(255, 123, 0);
    border-radius: 5vh;
}

.copy {
    color: rgb(255, 238, 0); /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    background: rgb(255, 115, 0); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-color: rgb(255, 123, 0);
    border-radius: 5vh;
    position: absolute;
    width: 10vw;
    height: 4vh;
    margin-top: 14.7vw;
}

.delete {
    position: absolute;
    margin-left: 9.7vw;
    float: bottom;
    width: 20px;
    height: 20px;
    transition: transform .2s;
    background-image: url("pngwing.com.png");
    background-color: yellow;
    background-size: cover;
}

.delete:hover {
    transform: scale(1.5);
}

